In [1]:
import pandas as pd
import numpy as np

companies = pd.read_csv('./merged/new_merged_companies.csv')  # Replace 'your_companies.csv' with the path to your companies file

In [4]:
missing_founded_at_count = companies['founded_at'].isnull().sum()
missing_closed_at_count = companies['closed_at'].isnull().sum()

print(missing_founded_at_count, missing_closed_at_count)

companies.info()

105326 184604
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196554 entries, 0 to 196553
Data columns (total 64 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         196554 non-null  object
 1   entity_type                196554 non-null  object
 2   name                       196553 non-null  object
 3   category_code              123187 non-null  object
 4   status                     196554 non-null  object
 5   founded_at                 91228 non-null   object
 6   closed_at                  11950 non-null   object
 7   domain                     196554 non-null  int64
 8   homepage_url               196554 non-null  int64
 9   twitter_username           196554 non-null  int64
 10  short_description          196554 non-null  int64
 11  description                196554 non-null  int64
 12  overview                   196554 non-null  int64
 13  tag_list                   81453 non-null   object
 14  country_code               87991 non-null   object
 15  city                       83897 non-null   object
 16  region                     196554 non-null  object
 17  first_investment_at        2583 non-null    object
 18  last_investment_at         2583 non-null    object
 19  investment_rounds          196554 non-null  int64
 20  invested_companies         196554 non-null  int64
 21  first_funding_at           31508 non-null   object
 22  last_funding_at            31508 non-null   object
 23  funding_rounds             196554 non-null  int64
 24  funding_total_usd          196554 non-null  int64
 25  created_at                 196554 non-null  object
 26  updated_at                 196554 non-null  object
 27  product_count              196554 non-null  int64
 28  closed_product_count       196554 non-null  int64
 29  operating_product_count    196554 non-null  int64
 30  office_count               196554 non-null  int64
 31  closed_office_count        196554 non-null  int64
 32  operating_office_count     196554 non-null  int64
 33  object_id                  1239 non-null    object
 34  valuation_amount           1239 non-null    float64
 35  valuation_currency_code    1237 non-null    object
 36  raised_amount              1239 non-null    float64
 37  raised_currency_code       689 non-null     object
 38  public_at                  653 non-null     object
 39  stock_symbol               1239 non-null    object
 40  angel                      196554 non-null  int64
 41  crowdfunding               196554 non-null  int64
 42  other                      196554 non-null  int64
 43  post_ipo                   196554 non-null  int64
 44  private_equity             196554 non-null  int64
 45  series_a                   196554 non-null  int64
 46  series_b                   196554 non-null  int64
 47  series_c                   196554 non-null  int64
 48  venture                    196554 non-null  int64
 49  acquiring_object_id        4848 non-null    object
 50  number_of_acq_companies    196554 non-null  int64
 51  acquired_object_id         9394 non-null    object
 52  have_been_acquired         196554 non-null  int64
 53  funded_object_id_x         17852 non-null   object
 54  num_of_fin_org_financed    17852 non-null   float64
 55  fin_org_financed           196554 non-null  int64
 56  funded_object_id_y         4422 non-null    object
 57  num_of_person_financed     4422 non-null    float64
 58  person_financed            196554 non-null  int64
 59  funded_object_id           21485 non-null   object
 60  num_of_companies_financed  21485 non-null   float64
 61  startup_financed           196554 non-null  int64
 62  log_fund_tot               196554 non-null  float64
 63  tot_fin                    196554 non-null  int64
dtypes: float64(6), int64(31), object(27)
memory usage: 96.0+ MB

In [3]:
new_aq = pd.read_csv('./merged/new_acquisitions.csv')

new_aq['acquired_at'] = pd.to_datetime(new_aq['acquired_at'], errors='coerce')

acquisition_dates = pd.Series(new_aq.acquired_at.values, index=new_aq.acquired_object_id).to_dict()

# Iterate through the main companiesset and update 'closed_at' where necessary
for index, row in companies.iterrows():
    # Check if the company is marked as 'acquired' and 'closed_at' is missing
    if row['status'] == 'acquired' and pd.isnull(row['closed_at']):
        # Look up the 'acquired_at' date using 'id'
        acquired_at = acquisition_dates.get(row['id'])
        # If an 'acquired_at' date is found, update 'closed_at'
        if acquired_at:
            companies.at[index, 'closed_at'] = acquired_at

# Verify the updates by displaying the first few rows of the companiesframe
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196554 entries, 0 to 196553
Data columns (total 64 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         196554 non-null  object
 1   entity_type                196554 non-null  object
 2   name                       196553 non-null  object
 3   category_code              123187 non-null  object
 4   status                     196554 non-null  object
 5   founded_at                 91228 non-null   object
 6   closed_at                  11950 non-null   object
 7   domain                     196554 non-null  int64
 8   homepage_url               196554 non-null  int64
 9   twitter_username           196554 non-null  int64
 10  short_description          196554 non-null  int64
 11  description                196554 non-null  int64
 12  overview                   196554 non-null  int64
 13  tag_list                   81453 non-null   object
 14  country_code               87991 non-null   object
 15  city                       83897 non-null   object
 16  region                     196554 non-null  object
 17  first_investment_at        2583 non-null    object
 18  last_investment_at         2583 non-null    object
 19  investment_rounds          196554 non-null  int64
 20  invested_companies         196554 non-null  int64
 21  first_funding_at           31508 non-null   object
 22  last_funding_at            31508 non-null   object
 23  funding_rounds             196554 non-null  int64
 24  funding_total_usd          196554 non-null  int64
 25  created_at                 196554 non-null  object
 26  updated_at                 196554 non-null  object
 27  product_count              196554 non-null  int64
 28  closed_product_count       196554 non-null  int64
 29  operating_product_count    196554 non-null  int64
 30  office_count               196554 non-null  int64
 31  closed_office_count        196554 non-null  int64
 32  operating_office_count     196554 non-null  int64
 33  object_id                  1239 non-null    object
 34  valuation_amount           1239 non-null    float64
 35  valuation_currency_code    1237 non-null    object
 36  raised_amount              1239 non-null    float64
 37  raised_currency_code       689 non-null     object
 38  public_at                  653 non-null     object
 39  stock_symbol               1239 non-null    object
 40  angel                      196554 non-null  int64
 41  crowdfunding               196554 non-null  int64
 42  other                      196554 non-null  int64
 43  post_ipo                   196554 non-null  int64
 44  private_equity             196554 non-null  int64
 45  series_a                   196554 non-null  int64
 46  series_b                   196554 non-null  int64
 47  series_c                   196554 non-null  int64
 48  venture                    196554 non-null  int64
 49  acquiring_object_id        4848 non-null    object
 50  number_of_acq_companies    196554 non-null  int64
 51  acquired_object_id         9394 non-null    object
 52  have_been_acquired         196554 non-null  int64
 53  funded_object_id_x         17852 non-null   object
 54  num_of_fin_org_financed    17852 non-null   float64
 55  fin_org_financed           196554 non-null  int64
 56  funded_object_id_y         4422 non-null    object
 57  num_of_person_financed     4422 non-null    float64
 58  person_financed            196554 non-null  int64
 59  funded_object_id           21485 non-null   object
 60  num_of_companies_financed  21485 non-null   float64
 61  startup_financed           196554 non-null  int64
 62  log_fund_tot               196554 non-null  float64
 63  tot_fin                    196554 non-null  int64
dtypes: float64(6), int64(31), object(27)
memory usage: 96.0+ MB

In [5]:
condition = companies['closed_at'].isna() & (companies['status'] == 'closed')

# Compute the maximum date among 'last_investment_at', 'last_funding_at', and 'updated_at' for these rows
max_dates = companies.loc[condition, ['last_investment_at', 'last_funding_at']].max(axis=1)

# Update 'closed_at' for these rows with the computed maximum date
companies.loc[condition, 'closed_at'] = max_dates

# Verify if the changes have been applied by displaying rows where 'closed_at' was updated
# companies[condition].head()

missing_founded_at_count = companies['closed_at'].isnull().sum()
missing_founded_at_count

184604

In [28]:
condition = companies['closed_at'].isna()
companies.loc[condition, 'closed_at'] = companies['updated_at'].max()

con = companies['founded_at'].isna()
companies.loc[con, 'founded_at'] = companies['created_at'].min()

companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196554 entries, 0 to 196553
Data columns (total 64 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         196554 non-null  object
 1   entity_type                196554 non-null  object
 2   name                       196553 non-null  object
 3   category_code              123187 non-null  object
 4   status                     196554 non-null  object
 5   founded_at                 196554 non-null  datetime64[ns]
 6   closed_at                  196554 non-null  datetime64[ns]
 7   domain                     196554 non-null  int64
 8   homepage_url               196554 non-null  int64
 9   twitter_username           196554 non-null  int64
 10  short_description          196554 non-null  int64
 11  description                196554 non-null  int64
 12  overview                   196554 non-null  int64
 13  tag_list                   81453 non-null   object
 14  country_code               87991 non-null   object
 15  city                       83897 non-null   object
 16  region                     196554 non-null  object
 17  first_investment_at        2583 non-null    datetime64[ns]
 18  last_investment_at         2583 non-null    datetime64[ns]
 19  investment_rounds          196554 non-null  int64
 20  invested_companies         196554 non-null  int64
 21  first_funding_at           31508 non-null   datetime64[ns]
 22  last_funding_at            31508 non-null   datetime64[ns]
 23  funding_rounds             196554 non-null  int64
 24  funding_total_usd          196554 non-null  int64
 25  created_at                 196554 non-null  datetime64[ns]
 26  updated_at                 196554 non-null  datetime64[ns]
 27  product_count              196554 non-null  int64
 28  closed_product_count       196554 non-null  int64
 29  operating_product_count    196554 non-null  int64
 30  office_count               196554 non-null  int64
 31  closed_office_count        196554 non-null  int64
 32  operating_office_count     196554 non-null  int64
 33  object_id                  1239 non-null    object
 34  valuation_amount           1239 non-null    float64
 35  valuation_currency_code    1237 non-null    object
 36  raised_amount              1239 non-null    float64
 37  raised_currency_code       689 non-null     object
 38  public_at                  653 non-null     object
 39  stock_symbol               1239 non-null    object
 40  angel                      196554 non-null  int64
 41  crowdfunding               196554 non-null  int64
 42  other                      196554 non-null  int64
 43  post_ipo                   196554 non-null  int64
 44  private_equity             196554 non-null  int64
 45  series_a                   196554 non-null  int64
 46  series_b                   196554 non-null  int64
 47  series_c                   196554 non-null  int64
 48  venture                    196554 non-null  int64
 49  acquiring_object_id        4848 non-null    object
 50  number_of_acq_companies    196554 non-null  int64
 51  acquired_object_id         9394 non-null    object
 52  have_been_acquired         196554 non-null  int64
 53  funded_object_id_x         17852 non-null   object
 54  num_of_fin_org_financed    17852 non-null   float64
 55  fin_org_financed           196554 non-null  int64
 56  funded_object_id_y         4422 non-null    object
 57  num_of_person_financed     4422 non-null    float64
 58  person_financed            196554 non-null  int64
 59  funded_object_id           21485 non-null   object
 60  num_of_companies_financed  21485 non-null   float64
 61  startup_financed           196554 non-null  int64
 62  log_fund_tot               196554 non-null  float64
 63  tot_fin                    196554 non-null  int64
dtypes: datetime64[ns](8), float64(6), int64(31), object(19)
memory usage: 96.0+ MB

In [23]:
condition = companies['founded_at'].isna()

min_dates = companies.loc[condition, ['first_investment_at', 'first_funding_at', 'created_at']].min(axis=1)

# Update 'founded_at' for rows where 'closed_at' is greater than the computed minimum date using the correct iteration method
for index, min_date in min_dates.items():  # Using .items() for Series
    if pd.notna(companies.at[index, 'closed_at']) and companies.at[index, 'closed_at'] >= min_date:
        companies.at[index, 'founded_at'] = min_date

# Verify the changes by displaying rows where 'founded_at' was supposed to be updated
companies[condition].head()

,id,entity_type,name,category_code,status,founded_at,closed_at,domain,homepage_url,twitter_username,...,num_of_fin_org_financed,fin_org_financed,funded_object_id_y,num_of_person_financed,person_financed,funded_object_id,num_of_companies_financed,startup_financed,log_fund_tot,tot_fin
1,c:10,Company,Flektor,games_video,acquired,NaT,2007-05-30,1,1,1,...,NaN,0,NaN,NaN,0,NaN,NaN,0,0.0,0
2,c:100,Company,There,games_video,acquired,NaT,2005-05-29,1,1,1,...,NaN,0,NaN,NaN,0,NaN,NaN,0,0.0,0
7,c:100042,Company,HostNine,NaN,operating,NaT,NaT,1,1,1,...,NaN,0,NaN,NaN,0,NaN,NaN,0,0.0,0
8,c:10005,Company,Thomas Publishing,advertising,operating,NaT,NaT,1,1,1,...,NaN,0,NaN,NaN,0,NaN,NaN,0,0.0,0
21,c:10016,Company,Camcorder-batteries.us,other,operating,NaT,NaT,1,1,1,...,NaN,0,NaN,NaN,0,NaN,NaN,0,0.0,0

In [24]:
companies.info()
founded_at_empty = companies[companies['founded_at'].isna()]
founded_at_empty.to_csv('./merged/founded_at_empty.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196554 entries, 0 to 196553
Data columns (total 64 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         196554 non-null  object
 1   entity_type                196554 non-null  object
 2   name                       196553 non-null  object
 3   category_code              123187 non-null  object
 4   status                     196554 non-null  object
 5   founded_at                 152485 non-null  datetime64[ns]
 6   closed_at                  71711 non-null   datetime64[ns]
 7   domain                     196554 non-null  int64
 8   homepage_url               196554 non-null  int64
 9   twitter_username           196554 non-null  int64
 10  short_description          196554 non-null  int64
 11  description                196554 non-null  int64
 12  overview                   196554 non-null  int64
 13  tag_list                   81453 non-null   object
 14  country_code               87991 non-null   object
 15  city                       83897 non-null   object
 16  region                     196554 non-null  object
 17  first_investment_at        2583 non-null    datetime64[ns]
 18  last_investment_at         2583 non-null    datetime64[ns]
 19  investment_rounds          196554 non-null  int64
 20  invested_companies         196554 non-null  int64
 21  first_funding_at           31508 non-null   datetime64[ns]
 22  last_funding_at            31508 non-null   datetime64[ns]
 23  funding_rounds             196554 non-null  int64
 24  funding_total_usd          196554 non-null  int64
 25  created_at                 196554 non-null  datetime64[ns]
 26  updated_at                 196554 non-null  datetime64[ns]
 27  product_count              196554 non-null  int64
 28  closed_product_count       196554 non-null  int64
 29  operating_product_count    196554 non-null  int64
 30  office_count               196554 non-null  int64
 31  closed_office_count        196554 non-null  int64
 32  operating_office_count     196554 non-null  int64
 33  object_id                  1239 non-null    object
 34  valuation_amount           1239 non-null    float64
 35  valuation_currency_code    1237 non-null    object
 36  raised_amount              1239 non-null    float64
 37  raised_currency_code       689 non-null     object
 38  public_at                  653 non-null     object
 39  stock_symbol               1239 non-null    object
 40  angel                      196554 non-null  int64
 41  crowdfunding               196554 non-null  int64
 42  other                      196554 non-null  int64
 43  post_ipo                   196554 non-null  int64
 44  private_equity             196554 non-null  int64
 45  series_a                   196554 non-null  int64
 46  series_b                   196554 non-null  int64
 47  series_c                   196554 non-null  int64
 48  venture                    196554 non-null  int64
 49  acquiring_object_id        4848 non-null    object
 50  number_of_acq_companies    196554 non-null  int64
 51  acquired_object_id         9394 non-null    object
 52  have_been_acquired         196554 non-null  int64
 53  funded_object_id_x         17852 non-null   object
 54  num_of_fin_org_financed    17852 non-null   float64
 55  fin_org_financed           196554 non-null  int64
 56  funded_object_id_y         4422 non-null    object
 57  num_of_person_financed     4422 non-null    float64
 58  person_financed            196554 non-null  int64
 59  funded_object_id           21485 non-null   object
 60  num_of_companies_financed  21485 non-null   float64
 61  startup_financed           196554 non-null  int64
 62  log_fund_tot               196554 non-null  float64
 63  tot_fin                    196554 non-null  int64
dtypes: datetime64[ns](8), float64(6), int64(31), object(19)
memory usage: 96.0+ MB

In [31]:
# Ensure 'public_at' and 'founded_at' are in datetime format
companies['public_at'] = pd.to_datetime(companies['public_at'], errors='coerce')

# Size before dropping IPOs before 2008
size_before_ipo = companies.shape[0]

# Drop rows for status = 'ipo' and 'public_at' before 2008
ipo_condition = (companies['status'] == 'ipo') & (companies['public_at'] < '2008-01-01')
companies = companies.drop(companies[ipo_condition].index)

# Size after dropping IPOs before 2008
size_after_ipo = companies.shape[0]

# Now, drop rows for every other status where 'founded_at' is before 2008
non_ipo_condition = (companies['status'] != 'ipo') & (companies['founded_at'] < '2008-01-01')
companies = companies.drop(companies[non_ipo_condition].index)

# Size after dropping non-IPOs founded before 2008
size_after_non_ipo = companies.shape[0]

size_before_ipo, size_after_ipo, size_after_non_ipo

(196554, 196267, 115706)

In [6]:
# Extract the year from 'closed_at' and 'founded_at'
companies['closed_at_year'] = companies['closed_at'].dt.year
companies['founded_at_year'] = companies['founded_at'].dt.year

# Calculate the age of the companies
companies['company_age'] = companies['closed_at_year'] - companies['founded_at_year']

# Display a few rows to verify the 'company_age' calculation
companies[['closed_at_year', 'founded_at_year', 'company_age']].head()

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
companies.to_csv('./merged/aged_comp2008.csv', index=False)